---
import Prose from '../components/Prose.astro'
import Layout from '../layouts/Layout.astro'
import { getCollection } from 'astro:content'

const topics = await getCollection('topics')
---

<Layout title="Spillskolen Cheatsheet">
    <div class="w-full px-2 py-2 flex flex-col md:flex-row gap-2">
        {
            topics.map(async (entry: any) => {
                const { Content } = await entry.render()
                return (
                    <Prose>
                        <Content />
                    </Prose>
                )
            })
        }
    </div>
</Layout>
