---

---

<div
    class="bg-gray-100 rounded-3xl p-2
    prose dark:prose-invert
    prose-h1:text-lg prose-h1:mt-4 prose-h1:mb-2
    prose-headings:text-red-600 prose-headings:font-normal
    prose-a:text-blue-600
    prose-p:mb-2 prose-p:mt-0
    prose-p:text-sm
    prose-p:text-gray-500
    prose-img:rounded-xl
    prose-code:font-normal
    prose-code:text-sm
    prose-code:before:content-none
    prose-code:after:content-none"
>
    <slot />
</div>
